@model DH52110843_web_quan_ly_khach_san_homestay.Models.Room

@{
    ViewData["Title"] = "formAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roomtype = ViewBag.RT as RoomType;
}





<div class="container mt-5">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="
alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h2 class="text-center mb-4 text-primary">Thêm Phòng</h2>
    <form asp-action="addRoom" method="POST" onsubmit="return confirm('Bạn có chắc chắn muốn thêm phòng này không?');">
        <div class="form-group" style="display:none">
            <label asp-for="RoomId" class="control-label"></label>
            <input asp-for="RoomId" class="form-control" />
            <span asp-validation-for="RoomId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3" style="display:none">
            @if (ViewBag.DSRT!=null)
            {
                <label class="form-label">Loại phòng</label>
                <select asp-for="RoomTypeId" asp-items="@ViewBag.DSRT" class="form-select"></select>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            }
            else
            {
                <label asp-for="RoomTypeId" class="control-label"></label>
                <input asp-for="RoomTypeId" class="form-control" requied value="@roomtype.RoomTypeId"/>
                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            }
        </div>

        <div class="form-group mb-3">
            <label asp-for="RoomNumber" class="control-label">Số phòng</label>
            <input asp-for="RoomNumber" class="form-control" requied/>
            <span asp-validation-for="RoomNumber" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Active" class="control-label">Tình Trạng</label>
            <select asp-for="Active" class="form-control">
                <option value="false">Bảo trì</option>
                <option value="true">Hoạt động</option>
            </select>
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>


        <!-- Nút hành động -->
        <div class="form-actions mt-4 text-center">
            <button type="submit" class="btn btn-primary me-2">Lưu</button>
            <a asp-action="Index" asp-controller="Room" asp-route-id=@roomtype.HotelId class="btn btn-secondary">Hủy</a>
        </div>
    </form>
</div>



